[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = untracked
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
	ignore = untracked
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
	ignore = untracked
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
	ignore = untracked
[submodule "bundle/peepopen"]
	path = bundle/peepopen
	url = https://github.com/shemerey/vim-peepopen.git
	ignore = untracked
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = https://github.com/Raimondi/delimitMate.git
	ignore = untracked
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
	ignore = untracked
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = https://github.com/vim-scripts/tComment.git
	ignore = untracked
[submodule "bundle/html-autoclosetag"]
	path = bundle/html-autoclosetag
	url = https://github.com/vim-scripts/HTML-AutoCloseTag.git
	ignore = untracked
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/minibufexplorerpp"]
	path = bundle/minibufexplorerpp
	url = https://github.com/vim-scripts/minibufexplorerpp.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = git@github.com:fholgado/minibufexpl.vim.git
[submodule "bundle/conque"]
	path = bundle/conque
	url = https://github.com/vim-scripts/Conque-Shell.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = https://github.com/tpope/vim-rails.git
