[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = untracked
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
	ignore = untracked
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
	ignore = untracked
[submodule "bundle/peepopen"]
	path = bundle/peepopen
	url = https://github.com/shemerey/vim-peepopen.git
	ignore = untracked
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = https://github.com/Raimondi/delimitMate.git
	ignore = untracked
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
	ignore = untracked
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = https://github.com/vim-scripts/tComment.git
	ignore = untracked
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/conque"]
	path = bundle/conque
	url = https://github.com/vim-scripts/Conque-Shell.git
[submodule "bundle/indent_guides"]
	path = bundle/indent_guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "bundle/browser-refresh"]
	path = bundle/browser-refresh
	url = https://github.com/mkitt/browser-refresh.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/autoclose"]
	path = bundle/autoclose
	url = https://github.com/rdpate/vim-autoclose.git
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-autoclose"]
	path = bundle/vim-autoclose
	url = git@github.com:fholgado/vim-autoclose.git
[submodule "bundle/simplenote.vim"]
	path = bundle/simplenote.vim
	url = git://github.com/mrtazz/simplenote.vim.git
[submodule "bundle/vim-superstatus"]
	path = bundle/vim-superstatus
	url = https://github.com/Lokaltog/vim-superstatus.git
[submodule "bundle/current-func-info"]
	path = bundle/current-func-info
	url = https://github.com/tyru/current-func-info.vim
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-statline"]
	path = bundle/vim-statline
	url = https://github.com/millermedeiros/vim-statline.git
[submodule "bundle/ctrlp-vim"]
	path = bundle/ctrlp-vim
	url = https://github.com/kien/ctrlp.vim.git
